#contact-text {
    font-size: xx-large;
    color: green;
    text-align: center;
    font-weight: bolder;
}

#contact-photo {
    width: 100vw;
    height: auto;
}

#contact-container {
    color: green;
    text-align: center;
}

#contact-title {
    font-weight: bold;
    font-size: large;
}

.contact-link {
    text-decoration: none;
    color: green;
}

.contact-link :hover {
    text-decoration: solid;
}