html, body {
    font-family: 'Arial';
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom: 2px solid green;
    margin-bottom: 1cm;
}

.logo {
    width: 200px;
    height: 120px;
}

.logo:hover {
    transform: scale(1.3);
}

.nav-link {
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: .7cm;
    text-align: center;
}

.nav-link:hover {
    transform: scale(2);
}

#opening-text {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    text-align: center;
    color: rgb(39, 87, 39);
    font-size: large;
    line-height: 1.5cm;
}

.fp-images{
    width: 500px;
    height: 200px;
}

.images-fp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    text-align: center;
    border-top: 2px solid green;
    margin-top: 1cm;
}

.foot-link {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: green;
    opacity: 75%;
}

.foot-logo {
    width: 150px;
    height: 90px;
}

.copyright-statement {
    color: gray;
    font-weight: bold;
    opacity: 50%;
}

.about-title {
    font-size: xx-large;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bolder;
    margin-right: 50px;
}

.about-text {
    line-height: 1cm;
    align-items: left;
    color: darkgreen;
    font-weight: 700;
}

.box-container-left {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 3px solid green;
    margin-bottom: 7.5%;
}

.box-container-right {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-right: 3px solid green;
    margin-bottom: 7.5%;
}


.text-container {
    width: 25%
}

.photo-container {
    padding-left: 5%;
    width: 50%;
}

.about-photo {
    display: block;
    margin: auto;
}

#zoom-photo {
    width: 650px;
    height: 400px;
}