html, body {
    font-family: 'Arial';
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.nav-link {
    text-decoration: none;
}

.logo {
    width: 200px;
    height: 120px;
}

.nav-link {
    color: green;
    font-weight: bold;
    font-size: .7cm;
}

#opening-text {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    text-align: center;
    color: rgb(39, 87, 39);
    font-size: large;
}

.fp-images{
    width: 500px;
    height: 200px;
}

.images-fp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}